{
  "presets": [
    "@babel/react",
    ["@babel/preset-env", {
      "corejs": "3",
      "useBuiltIns": "entry"
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties",
    "babel-plugin-styled-components",
    ["@babel/plugin-transform-modules-commonjs", {
      "allowTopLevelThis": true
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel","babel-plugin-styled-components"]
    }
  }
}
